<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}"><head>

	{% block head %}
		<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
	{% endblock head %}

	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css">
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:500,400|Inconsolata|Oswald:400&amp;subset=latin-ext" rel="stylesheet" type="text/css">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">

	<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed">

</head><body>

<section class="sidebar">
	<div class="sidebar-content">
		<figure id="user-logo">
			<a href="{{ SITEURL }}"><div class="logo">&nbsp;</div></a>
		</figure>

		<div class="user-meta">
			<h1 id="user"><a href="{{ SITEURL }}" class="">{{ SITENAME }}</a></h1>
			<h2>{{ TAGLINE }}</h2>

			{% if AUTHOR_BIO %}
				<p class="bio">{{ AUTHOR_BIO }}</p>
			{% endif %}

			<ul>
			{% for title, link in MENUITEMS %}
				<li><a href="{{ link }}">{{ title }}</a></li>
			{% endfor %}
			{% if DISPLAY_PAGES_ON_MENU %}
				{% for p in pages %}
					<li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
				{% endfor %}
				<li><a href="{{ SITEURL }}/categories.html">Categories</a></li>
			{% else %}
				{% for cat, null in categories %}
					<li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
				{% endfor %}
			{% endif %}
			{% for name, link in LINKS %}
				<li><a href="{{ link }}">{{ name }}</a></li>
			{% endfor %}
			{% for name, link in SOCIAL %}
				<li><a href="{{ link }}">{{ name }}</a></li>
			{% endfor %}
			</ul>
		</div>
	</div>
</section>

<section class="posts">
{% block content %}
{% endblock %}
</section>

</body></html>
