{% extends "base.html" %}
{% block title %}{{ article.title | striptags | e }}{%if article.subtitle %} - {{ article.subtitle | striptags | e }} {% endif %}{% endblock title %}
{% block head %}
	{{ super() }}
	<meta name="date" value="{{ article.date.isoformat() }}">
	{%- if article.modified is defined %}<meta name="modified" value="{{ article.modified.isoformat() }}">{% endif %}
	{%- if article.summary is defined and article.summary != "" %}<meta name="description" content="{{ article.summary | strip_tags }}">{% endif %}
{% endblock %}
{% block content %}
<article>
	<header>
		<section class="category">
		{% for cat in article.categories or [article.category] %}
			<a href="{{ SITEURL }}/{{ cat.url }}">{{ cat.name }}</a>
		{% endfor %}
		</section>
		<h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title | striptags }}">{{ article.title }}</a></h1>
		<div class="dates">
			Published <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
			{% if article.modified is defined %}&middot; updated <time datetime="{{ article.modified.isoformat() }}">{{ article.locale_modified }}</time>{% endif %}
			&middot; {{ article.readtime.minutes }}min
		</div>
	</header>
	{% if article.series %}
	<section class="series">
        <p>This post is part {{ article.series.index }} of the &ldquo;{{ article.series.name }}&rdquo; series:</p>
        <ol class="parts">
		{% for part_article in article.series.all %}
			{% if part_article == article %}
			<li class="active">{{ part_article.title }}</li>
			{% else %}
			<li><a href="{{ SITEURL }}/{{ part_article.url }}">{{ part_article.title }}</a></li>
			{% endif %}
		{% endfor %}
        </ol>
	</section>
	{% endif %}
	<section>{{ article.content }}</section>
</article>
{% endblock %}
