{% extends "base.html" %}
{% block title %}{{ article.title | striptags | e }}{%if article.subtitle %} - {{ article.subtitle | striptags | e }} {% endif %}{% endblock title %}
{% block content %}
<article>
	<header>
		{% if article.category != 'posts' %}
		<section class="category"><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category.name }}</a></section>
		{% endif %}
		<h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title | striptags }}">{{ article.title }}</a></h1>
		<div class="published"><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time> &middot; {{ article.readtime.minutes }}min</div>
	</header>
	{% if article.series %}
	<section class="series">
        <p>This post is part {{ article.series.index }} of the &ldquo;{{ article.series.name }}&rdquo; series:</p>
        <ol class="parts">
		{% for part_article in article.series.all %}
			{% if part_article == article %}
			<li class="active">{{ part_article.title }}</li>
			{% else %}
			<li><a href="{{ SITEURL }}/{{ part_article.url }}">{{ part_article.title }}</a></li>
			{% endif %}
		{% endfor %}
        </ol>
	</section>
	{% endif %}
	<section>{{ article.content }}</section>
</article>
{% endblock %}
