{% extends "base.html" %}
{% block title %}{{ article.title | striptags | e }}{%if article.subtitle %} - {{ article.subtitle | striptags | e }} {% endif %}{% endblock title %}
{% block content %}
<article>
	<header>
		{% if article.category != 'posts' %}
		<section class="category"><a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category.name }}</a></section>
		{% endif %}
		<h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title | striptags }}">{{ article.title }}</a></h1>
		<div class="published"><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></div>
	</header>
	<section>{{ article.content }}</section>
</article>
{% endblock %}
