<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
	{% block head %}
		<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
	{% endblock head %}

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="google-site-verification" content="KzSbN7ThsTvX_DvYQp5ppcB8J4DYcNq42u_3TJzhbOk">

	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" referrerpolicy="no-referrer">
	<link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin="anonymous" referrerpolicy="no-referrer">
	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" media="screen,print">
	<link rel="stylesheet"
		  crossorigin="anonymous" referrerpolicy="no-referrer" media="screen,print"
		  href="https://fonts.googleapis.com/css?family=Inconsolata:400,700%7CRaleway:400,400i,600">

	<script src="{{ SITEURL }}/theme/luxon.min.js" integrity="sha384-Z/CjPPwcFtY/yzyek5pMDDeLyIIgPlUht1Ycq6QFB+wgzeBAaPMMDjwS1r1YCED9" defer></script>

	{% if FEED_ALL_ATOM %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed">
	{% endif %}

</head>

<body>
<header>
	<nav>
		<ul>
		<li><a class="site-name" href="{{ SITEURL }}">{{ SITENAME }}</a></li>

		{% if DISPLAY_PAGES_ON_MENU %}
			{% for p in pages %}
				{% if p.metadata.get('menu', 'yes').lower() == 'yes' %}
					<li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
				{% endif %}
			{% endfor %}
		{% endif %}
		{% if DISPLAY_CATEGORIES_ON_MENU %}
			{% for cat, _ in categories %}
				<li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
			{% endfor %}
		{% else %}
			<li><a href="{{ SITEURL }}/{{ CATEGORIES_URL }}">Categories</a></li>
		{% endif %}
		{% for title, link in MENUITEMS %}
			<li><a href="{{ link }}">{{ title }}</a></li>
		{% endfor %}
		{% for name, link in LINKS %}
			<li><a href="{{ link }}">{{ name }}</a></li>
		{% endfor %}
		</ul>
		<ul class="social">
		{% for name, link in SOCIAL %}
			<li><a rel="me" href="{{ link }}">{{ name }}</a></li>
		{% endfor %}
			<li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" title="Feed"><svg xmlns="http://www.w3.org/2000/svg" height="15" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M0 64C0 46.3 14.3 32 32 32c229.8 0 416 186.2 416 416c0 17.7-14.3 32-32 32s-32-14.3-32-32C384 253.6 226.4 96 32 96C14.3 96 0 81.7 0 64zM128 416c0 35.3-28.7 64-64 64s-64-28.7-64-64s28.7-64 64-64s64 28.7 64 64zM32 160c159.1 0 288 128.9 288 288c0 17.7-14.3 32-32 32s-32-14.3-32-32c0-123.7-100.3-224-224-224c-17.7 0-32-14.3-32-32s14.3-32 32-32z"/></svg></a></li>
		</ul>
	</nav>

	<!--
	<h1>{{ SITENAME }}</h1>
	<h2>{{ TAGLINE }}</h2>
	-->
</header>

<main>
{% block content %}
{% endblock %}
</main>

<footer>
	Copyright &copy; Keith Gaughan, 2001-2022
</footer>

<script src="{{ SITEURL }}/theme/common.js" integrity="sha384-T/oKOcHbLpnDOxUepjLxYIXYQMb1a4xE+AJZ2imaQU2h0ffX77fSgv+CunwXBCzZ"></script>

</body>
</html>
