<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}"><head>

	{% block head %}
		<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
	{% endblock head %}

	<meta charset="utf-8">

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Raleway:400,400i,600">
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.0/css/font-awesome.min.css" integrity="sha256-fhWmpLsbRLY5xcogEY/DTY2aUDu5sd1Y/vxj9XtJMAQ=" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mermaid/8.5.1/mermaid.min.js" integrity="sha256-l28DspUteK5IQ/BJAooA6UHmm/m4kYuJ4NvoeEmz3K0=" crossorigin="anonymous"></script>
	<script type="text/javascript">mermaid.initialize({startOnLoad:true});</script>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">

	{% if FEED_ALL_ATOM %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed">
	{% endif %}

</head><body>

<header>
	<nav>
		<ul>
		<li><a class="site-name" href="{{ SITEURL }}">{{ SITENAME }}</a></li>

		{% if DISPLAY_PAGES_ON_MENU %}
			{% for p in pages %}
				{% if p.metadata.get('menu', 'yes').lower() == 'yes' %}
					<li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
				{% endif %}
			{% endfor %}
		{% endif %}
		{% if DISPLAY_CATEGORIES_ON_MENU %}
			{% for cat, null in categories %}
				<li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
			{% endfor %}
		{% else %}
			<li><a href="{{ SITEURL }}/{{ CATEGORIES_URL }}">Categories</a></li>
		{% endif %}
		{% for title, link in MENUITEMS %}
			<li><a href="{{ link }}">{{ title }}</a></li>
		{% endfor %}
		{% for name, link in LINKS %}
			<li><a href="{{ link }}">{{ name }}</a></li>
		{% endfor %}
		</ul>
		<ul class="social">
		{% for name, link in SOCIAL %}
			<li><a href="{{ link }}">{{ name }}</a></li>
		{% endfor %}
			<li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}"><i class="fa fa-rss" aria-hidden="true" title="Feed"></i></a></li>
		</ul>
	</nav>

	<h1>{{ SITENAME }}</h1>
	<h2>{{ TAGLINE }}</h2>
</header>

<main>
{% block content %}
{% endblock %}
</main>

<footer>
	Copyright &copy; Keith Gaughan, 2001-2020
</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>
<script type="text/javascript">
// Humanise any timestamps
window.addEventListener("DOMContentLoaded", () => {
	document.querySelectorAll("time").forEach((elem, _) => {
		if (elem.dateTime != "") {
			elem.innerText = moment(elem.dateTime).fromNow();
		}
	});
});
</script>

</body></html>
