<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
	{% block head %}
		<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
	{% endblock head %}

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="anonymous" referrerpolicy="no-referrer">
	<link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin="anonymous" referrerpolicy="no-referrer">
	<link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" media="screen,print">
	<link rel="stylesheet"
		  crossorigin="anonymous" referrerpolicy="no-referrer" media="screen,print"
		  href="https://fonts.googleapis.com/css?family=Inconsolata:400,700%7CRaleway:400,400i,600">
	<link rel="stylesheet"
		  crossorigin="anonymous" referrerpolicy="no-referrer" media="screen,print"
		  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		  integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==">

	<script src="{{ SITEURL }}/theme/luxon.min.js" integrity="sha384-Z/CjPPwcFtY/yzyek5pMDDeLyIIgPlUht1Ycq6QFB+wgzeBAaPMMDjwS1r1YCED9" defer></script>

	{% if FEED_ALL_ATOM %}
		<link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed">
	{% endif %}

</head>

<body>
<header>
	<nav>
		<ul>
		<li><a class="site-name" href="{{ SITEURL }}">{{ SITENAME }}</a></li>

		{% if DISPLAY_PAGES_ON_MENU %}
			{% for p in pages %}
				{% if p.metadata.get('menu', 'yes').lower() == 'yes' %}
					<li{% if p == page %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
				{% endif %}
			{% endfor %}
		{% endif %}
		{% if DISPLAY_CATEGORIES_ON_MENU %}
			{% for cat, _ in categories %}
				<li{% if cat == category %} class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
			{% endfor %}
		{% else %}
			<li><a href="{{ SITEURL }}/{{ CATEGORIES_URL }}">Categories</a></li>
		{% endif %}
		{% for title, link in MENUITEMS %}
			<li><a href="{{ link }}">{{ title }}</a></li>
		{% endfor %}
		{% for name, link in LINKS %}
			<li><a href="{{ link }}">{{ name }}</a></li>
		{% endfor %}
		</ul>
		<ul class="social">
		{% for name, link in SOCIAL %}
			<li><a rel="me" href="{{ link }}">{{ name }}</a></li>
		{% endfor %}
			<li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}"><i class="fa fa-rss" aria-hidden="true" title="Feed"></i></a></li>
		</ul>
	</nav>

	<h1>{{ SITENAME }}</h1>
	<h2>{{ TAGLINE }}</h2>
</header>

<main>
{% block content %}
{% endblock %}
</main>

<footer>
	Copyright &copy; Keith Gaughan, 2001-2022
</footer>

<script src="{{ SITEURL }}/theme/common.js" integrity="sha384-T/oKOcHbLpnDOxUepjLxYIXYQMb1a4xE+AJZ2imaQU2h0ffX77fSgv+CunwXBCzZ"></script>

</body>
</html>
