{% extends "base.html" %}
{% block head %}
	{{ super() }}
	<meta name="description" content="{{ TAGLINE }}">
{% endblock %}
{% block content %}
{% for article in articles_page.object_list %}
	<article>
		<header>
			<section class="category">
			{% for cat in article.categories or [article.category] %}
				<a href="{{ SITEURL }}/{{ cat.url }}">{{ cat.name }}</a>
			{% endfor %}
			</section>
			<h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title | striptags }}">{{ article.title }}</a></h1>
			<div class="dates">
				Published <time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
				{% if article.modified is defined %}&middot; updated <time datetime="{{ article.modified.isoformat() }}">{{ article.locale_modified }}</time>{% endif %}
				&middot; {{ article.readtime.minutes }}min
			</div>
		</header>
		<section>{{ article.summary }}</section>
	</article>
{% endfor %}
{% include 'pagination.html' %}
{% endblock content %}
