{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block head %}
	{{ super() }}
	<link rel="canonical" href="{{ SITEURL }}/{{ page.url }}">
{% endblock %}
{% block content %}
<article itemscope itemtype="https://schema.org/WebPage" itemid="{{ SITEURL }}/{{ page.url }}">
	<header>
		<h1 itemprop="name"><a href="{{ SITEURL }}/{{ page.url }}" rel="bookmark">{{ page.title }}</a></h1>
	</header>
	<section itemprop="text">{{ page.content }}</section>
</article>
{% endblock %}
